{% extends 'main/base.html' %}

{% block title %}Detail Info{% endblock %}

{% block body %}
    <div class="doc__info container">
        <div class="doc__info__img">
            <img src="{{ doctor.photo.url }}" alt="doctor photo">
        </div>
        <div class="doc__info__text">
            <div class="doc__info__name">
                {{ doctor.first_name }} {{ doctor.last_name }}
            </div>
            <div class="doc__info__about">
                <p>{{ doctor.about }}</p>
            </div>
            <div class="doc__info__experience">
                <p>{{ doctor.experience }}</p>
            </div>
        </div>
    </div>
{% endblock %}
