{% extends 'main/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block body %}
<form class="form-login container" method="post">
  <!-- <script src="{% static '/main/js/test.js' %}"></script> -->
  <div class="form-text-login">
      <div class="form-text-title-login">
          Authorization <br>
          to account
      </div>
      <div class="form-text-subtitle-login">
        Log in to your existing account located on this site
      </div>
  </div>
  {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
      {% for f in form %}
          <div class="flex form-input-login">
              {{ f }}
              <span class="placeholder-text-login">{{ f.label_tag }}</span>
              <div class="form-error">{{ f.errors }}</div>
          </div>
      {% endfor %}
  <button class="submit-login">Login</button>
  <div class="checking-have-account-or-not-login">
      <p class="signin-login">Don't have an account? <a href="{% url 'Register' %}" class="signin-link-login">Register</a></p>
  </div>
</form>
{% endblock %}