{% extends 'main/base.html' %}
{% load static %}

{% block title %}Hospital{% endblock %}

{% block body %}

<main class="container">
    <div class="main__screen">
        <div class="main__screen__text">
            <div class="main__screen__text__title">
                <h1>
                    With the love of care,
                    the power of experience:
                    your health is our mission!
                </h1>
            </div>
            <div class="main__screen_text__subtitle">
                We will help you restore your strength and 
                restore your health through proper rest and 
                professional doctors.
                <div class="main__screen__text__subtitle__button">
                    <button>
                        <a href="#">submit your application</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="main__screen_image">
            <img src="{% static 'main/img/main_image.jpeg' %}" alt="main image" class="img__fluid">
        </div>
    </div>
</main>

{% endblock %}