{% extends 'main/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}


{% block body %}
<form class="form container" method="post">
    <!-- <script src="{% static '/main/js/test.js' %}"></script> -->
    <div class="form-text">
        <div class="form-text-title">
            Account <br> 
            registration
        </div>
        <div class="form-text-subtitle">
            Register your account for further authorization on our website and synchronization of your data
        </div>
    </div>
    {% csrf_token %}
        {% for f in form %}
            <div class="flex form-input">
                {{ f }}
                <span class="placeholder-text">{{ f.label_tag }}</span>
                <div class="form-error">{{ f.errors }}</div>
            </div>
        {% endfor %}
    <button class="submit">Register</button>
    <div class="checking-have-account-or-not">
        <p class="signin">Already have an account? <a href="{% url 'Login' %}" class="signin-link">Login</a></p>
    </div>
</form>
{% endblock %}