{% extends 'main/base.html' %}
{% load static %}

{% block title %}My appointments{% endblock %}

{% block body %}
{% if appointments %}
<div class="sidebar">
    <form method="post">
        {% csrf_token %}
        {{ filter_form.as_p }}
        <button type="submit">Filter</button>
    </form>
</div>

<ul>
  {% for appointment in appointments %}
    <li>
      <strong>{{ appointment.doctor }}</strong> ({{ appointment.doctor.specialization }}) on {{ appointment.appointment_datetime }}<br>
    </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}