{% extends 'main/base.html' %}
{% load static %}

{% block title %}My appointments{% endblock %}

{% block body %}
{% if appointments %}

<div class="sidebar">
    <a href="#">Chat</a>
    <form method="post">
        {% csrf_token %}
        {{ filter_form.as_p }}
        <button type="submit">Filter</button>
    </form>
</div>

<ul>
  {% for appointment in appointments %}
    <li>
      <strong>{{ appointment.doctor }}</strong> ({{ appointment.doctor.specialization }}) on {{ appointment.appointment_day }} {{ appointment.appointment_time }}<br>
    </li>
    <div class="cart_item-content">
        <form action="{% url 'Cancel' appointment.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="remove-btn">Cancel</button>
        </form>
    </div>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
