{% extends 'staff/staff_base.html' %}

{% block title %}Chats{% endblock %}

{% block body %}

{% if rooms %}
        <div class="row equal">
            {% for room in rooms %}

            <div class="col-sm-4 d-flex pb-3">
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-block">
                        <h3 class="card-title">{{room.name}}</h3>
                        <p class="card-text">It is Public group for this Project.</p>
                        <a href="/{{room.slug}}" class="btn btn-outline-secondary">Go to Room</a>
                    </div>
                </div>
            </div>

            {% endfor %}


        </div>
    {% else %}
            No Rooms Available!
    {% endif %}

{% endblock %}