body {
    margin: 0;
    height: 100vh;
    background-color: #ffffff;
}

.custom-cursor {
    position: fixed;
    z-index: 9999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: transform .10s linear;
    pointer-events: none;
}

.custom-cursor.pressed {
    transform: translate(-50%, -50%) scale(1.5);
    transition: transform .1s linear;
}