/* ----------------------------------------------- используемые шрифты */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* ----------------------------------------------- используемые контейнеры */

.container {
    width: 1420px;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100%;
    /* overflow: hidden; */
}

/* ----------------------------------------------- настройки сайта */

::selection {
    background: rgba(255, 255, 255, 0);
    color: rgb(240, 33, 33);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,footer,header,aside{
    display: block;
}

html,body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* ----------------------------------------------- хеадер сайта */

/* @media(prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
} */

header {
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    height: 88px;
}

.header__logo {
    float: left;
}

.header__logo img {
    margin-top: 11px;
}

.header__links {
    float: right;
    display: flex;
    align-items: center;
}

.header__links a {
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    color: rgb(109, 109, 109);
    justify-content: flex-start;
    align-items: flex-start;
}

.header__contact {
    margin-right: 20px;
}

.header__doctors {
    margin-right: 20px;
}

.header__links__allbuttons {
    float: right;
}

.header__links,
.header__links__allbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__login {
    margin-right: 20px;
    color: rgb(50, 50, 50);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-decoration-line: underline;
}

.header__register__button {
    cursor: pointer;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 14px 25px 14px 25px;
    border: 0.2px solid rgb(213, 213, 213);
    border-radius: 5px;
    background: rgb(250, 250, 250);

    color: rgb(121, 121, 121);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.header__register__button button:hover {
    cursor: pointer;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 14px 25px 14px 25px;
    border: 0.2px solid rgb(213, 213, 213);
    border-radius: 5px;
    background: rgb(238, 238, 238);

    color: rgb(121, 121, 121);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    transition: opacity 0.3s ease;
}

.header__logo,
.header__links {
    /* padding: 25px 18px 0 0; */
    margin-top: 25px;
}

.header__links a:hover {
    color: black;
    transition: opacity 0.3s ease;
}

.header__register__button button:hover {
    cursor: pointer;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 14px 25px 14px 25px;
    border: 0.2px solid rgb(213, 213, 213);
    border-radius: 5px;
    background: rgb(247, 247, 247);

    color: rgb(121, 121, 121);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    transition: opacity 0.3s ease;
}

.header__logout {
    cursor: pointer;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 14px 25px 14px 25px;
    border: 0.2px solid rgb(213, 213, 213);
    border-radius: 5px;
    background: rgb(250, 250, 250);

    color: rgb(121, 121, 121);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.header__logout button:hover {
    cursor: pointer;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 14px 25px 14px 25px;
    border: 0.2px solid rgb(213, 213, 213);
    border-radius: 5px;
    background: rgb(247, 247, 247);

    color: rgb(121, 121, 121);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    transition: opacity 0.3s ease;
}

.header__appointments {
    margin-right: 20px;
    color: rgb(50, 50, 50);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-decoration-line: underline;
}

/* ----------------------------------------------- контент сайта */

.main__screen {
    margin-top: 99px;
}

.main__screen__text {
    display: flex;
}

.main__screen__text__title h1 {
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 80px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: -2px;
    width: 1060px;
}

.main__screen_text__subtitle {
    margin-left: 30px;
    color: rgb(50, 50, 50);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: 340px;
}

.main__screen__text__subtitle__button button {
    cursor: pointer;
    margin-top: 137px;
    border-radius: 5px;
    background: rgb(240, 33, 33);
    width: 341px;
    height: 57px;
    border: 0;

    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    padding: 20px 92px 20px 92px;
}

.main__screen__text__subtitle__button a {
    color: rgb(255, 255, 255);
    font-family: "Inter";
    text-decoration: none;
    list-style-type: none;
}

.main__screen_image {
    margin-top: 46px;
}

.img__fluid {
    width: 100%;
    max-width: 100%;
    background-size: cover;
    border-radius: 20px;
}

.main__screen__text__subtitle__button button:hover {
    cursor: pointer;
    margin-top: 137px;
    border-radius: 5px;
    background: rgb(212, 30, 30);
    width: 341px;
    height: 57px;
    border: 0;

    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    padding: 20px 92px 20px 92px;
    transition: opacity 0.3s ease;
}

.doctors__list {
    margin-top: 125px;
}

.doctors__list__text__title {
    width: 340px;
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.doctors__list__text__subtitle {
    margin-top: 10px;
    width: 340px;
    color: rgb(50, 50, 50);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.doctors__list__info {
    margin-top: 35px;
    display: flex;
}

.doctors__list__info > *:not(:last-child) {
    margin-right: 20px;
}

.doctors__list__info__card {
    /* margin-bottom: 20px; */
    width: 340px;
    height: 484px;
    /* border: 1px solid rgb(213, 213, 213); */
    border-radius: 20px;
    /* background: rgb(250, 250, 250); */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    text-align: center;
}

.doctors__list__info__card__img img {
    width: 280px;
    height: 286px;
    border-radius: 50%;
}

.doctors__list__info__card__text {
    margin-top: 15px;
    text-align: center;
}

.doctors__list__info__card__text__firstnameANDlastname {
    width: 151px;
    color: rgb(50, 50, 50);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
}

.doctors__list__info__card__text__specialization {
    margin-top: 5px;
    color: rgb(144, 145, 145);
    font-family: "Inter";
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}

.doctors__list__info__card__text__button button {
    margin-top: 50px;
    cursor: pointer;
    width: 283px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(240, 33, 33);
    border: 0;
}

.doctors__list__info__card__text__button a {
    text-decoration: none;
    padding: 20px 92px 20px 92px;
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.doctors__list__info__card__text__button button:hover {
    margin-top: 50px;
    cursor: pointer;
    width: 283px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(212, 30, 30);
    transition: opacity 0.3s ease;
    border: 0;
}

.callback__user__request {
    margin-top: 125px;
    width: 1420px;
    height: 675px;
    box-sizing: border-box;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 20px;
    background: rgb(250, 250, 250);
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    z-index: 0;
    position: relative;
}

.callback__user__request__text_title {
    width: 340px;
    color: rgb(0, 0, 0);
    font-family: "Inter";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.callback__user__request__text__subtitle {
    margin-top: 10px;
    width: 310px;
    color: rgb(50, 50, 50);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.callback__user__request__forms {
    margin-top: 26px;
}

.callback__user__request__forms__UserName input {
    width: 310px;
    height: 50px;
    align-items: center;
    padding: 14px 25px 14px 25px;
    border: 0;
    box-sizing: border-box;
    border: 0.2px solid rgb(213, 213, 213);
    border-radius: 5px;
    background: rgb(255, 255, 255);

    color: rgb(121, 121, 121);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
}

.callback__user__request__forms__UserEmail input {
    margin-top: 10px;
    width: 310px;
    height: 50px;
    align-items: center;
    padding: 14px 25px 14px 25px;
    border: 0;
    box-sizing: border-box;
    border: 0.2px solid rgb(213, 213, 213);
    border-radius: 5px;
    background: rgb(255, 255, 255);

    color: rgb(121, 121, 121);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
}

.callback__user__request__forms__UserPhoneNumber input {
    margin-top: 10px;
    width: 310px;
    height: 50px;
    align-items: center;
    padding: 14px 25px 14px 25px;
    border: 0;
    box-sizing: border-box;
    border: 0.2px solid rgb(213, 213, 213);
    border-radius: 5px;
    background: rgb(255, 255, 255);

    color: rgb(121, 121, 121);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
}

.callback__user__request__forms__UserData input {
    margin-top: 10px;
    width: 310px;
    height: 50px;
    align-items: center;
    padding: 14px 25px 14px 25px;
    border: 0;
    box-sizing: border-box;
    border: 0.2px solid rgb(213, 213, 213);
    border-radius: 5px;
    background: rgb(255, 255, 255);

    color: rgb(121, 121, 121);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
}

.callback__user__request__forms__UserName__form input {
    margin-top: 10px;
    width: 310px;
    height: 50px;
    align-items: center;
    padding: 14px 25px 14px 25px;
    border: 0;
    box-sizing: border-box;
    border: 0.2px solid rgb(213, 213, 213);
    border-radius: 5px;
    background: rgb(255, 255, 255);

    color: rgb(121, 121, 121);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
}

.my-custom-class-no-label label {
    display: none;
}

.callback__user__request__forms__button__description {
    margin-top: 10px;
    width: 310px;
    color: rgb(191, 191, 191);
    font-family: "Inter";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}

.callback__user__request__forms__button button {
    margin-top: 38px;
    cursor: pointer;
    width: 310px;
    height: 57px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(240, 33, 33);
    border: 0;

    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.callback__user__request__forms__button button:hover {
    width: 310px;
    height: 57px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(212, 30, 30);
    transition: opacity 0.3s ease;
    border: 0;

    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.callback__user__request__img {
    z-index: 1;
    position: absolute;
    width: 892px;
    height: 615px;
}

.callback__user__request__img img {
    margin-left: 480px;
    margin-top: -550px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* ----------------------------------------------- футер сайта */

.footer {
    margin-top: 125px;
    background: rgb(24, 24, 24);
    width: 100%;
    height: 348px;
    padding-top: 48px;
}

.footer__inline__logo__text {
    width: 137px;
    color: rgb(116, 116, 116);
    font-family: "Inter";
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
}

.footer__inline__navigation__text__title {
    width: 340px;
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.footer__inline__navigation__text__subtitle {
    margin-top: 10px;
    width: 253px;
    color: rgb(116, 116, 116);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.footer__inline__navigation__links {
    margin-top: 35px;
}

.footer__inline__navigation__links a {
    cursor: pointer;
    color: rgb(116, 116, 116);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.footer__inline__navigation {
    float: right;
    margin-top: -50px;
}

